.main-nav {

  &--open {
    .main-nav__toggle-image--open {
      @media (max-width: $mobile-width-only) {
        display: none;
      }
    }

    .main-nav__list {
      @media (max-width: $mobile-width-only) {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }

  &--close {
    .main-nav__toggle {
      top: $padding;
    }
    .main-nav__toggle-image--close {
      display: none;
    }

    .main-nav__list {
      @media (max-width: $mobile-width-only) {
        display: none;
      }
    }
  }

  &--nojs {
    .main-nav__toggle {
      @media (max-width: $tablet-width-only) {
        display: none;
      }
    }

    .main-nav__list {
      @media (max-width: $mobile-width-only) {
        position: static;
        background-color: transparent;
      }
    }
  }

  @media (min-width: $tablet-width) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: rgba(0, 255, 0, 0.75);*/
    background-color: $green;
    padding-left: $padding;
    padding-right: $padding;
  }
}

.main-nav__toggle {
  position: fixed;
  z-index: 3;
  top: 0;
  margin: 0;
  padding: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;

  &:hover,
  &:active {
    color: #888888;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle-image {
  width: 40px;
  height: 40px;
}