.page-footer {
  background-color: rgba($green, 0.3);
}

.page-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.page-footer__recall {
  @media (min-width: $tablet-width) {
    width: ($tablet-width - 4 * $padding) / 2;
  }

  @media (min-width: $desktop-width) {
    width: ($desktop-width - 4 * $padding) / 2;
  }
}

.page-footer__contacts {
  @media (min-width: $tablet-width) {
    width: ($tablet-width - 4 * $padding) / 2;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: ($desktop-width - 4 * $padding) / 2;
  }
}

.page-footer__map {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}