.page-header {
  background-color: white;
  position: relative;
}

.page-header__wrapper {
  @include wrapper-desktop-fixed;
  padding-top: 2.5 * $padding;
  padding-bottom: 2.5 * $padding;

  @media (min-width: $tablet-width) {
    padding-top: 6 * $padding;
  }
}

.page-header__logo {
  margin: 0;
  padding: 0;
  
  @media (min-width: $tablet-width) {
    width: 70%;
    margin: 0 auto;
  }
}

.page-header__navigation {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 1.5 * $padding;
  }

  @media (min-width: $desktop-width) {
    
  }
}