.page-header {
  background-color: white;
}

.page-header__wrapper {
  @include wrapper;
  padding-top: 0;

  /*@media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4 * $padding;
  }*/
}

.page-header__logo {
  margin: 0;
  padding: 0;
  
  @media (min-width: $tablet-width) {
    width: 60%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.page-header__navigation {
  width: 100%;

  /*@media (min-width: $tablet-width) {
    padding-top: 0;
    width: 300px;
    padding-left: $padding;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-left: 2 * $padding;
  }*/
}