.schedule {
  background-color: rgba($green, 0.3);
}

.schedule__wrapper {
  @include wrapper;
  /*outline: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.schedule__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: $padding;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 2 * $padding;
  }

  time {
    white-space: nowrap;
  }
}

.schedule__day {
  width: 100%;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.schedule__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $padding;
  background-color: $green;

  @media (min-width: $tablet-width) {
    width: 48%;
  }

  caption {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: $padding / 2;
  }
}

.schedule__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid darken($green, 35%);
  font-size: 16px;
  line-height: 20px;
  padding: $padding / 2;
  color: black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  &:nth-child(2n) {
    background-color: white;
    border-top: none;
    border-bottom: none;
  }

  &:last-child {
    border-bottom: 1px solid darken($green, 35%);
  }
  
  td {
    padding: $padding / 4;
  }

  td:nth-child(1) {
    &::before {
      content: "С ";
    }
  }

  td:nth-child(2) {
    &::before {
      content: "до ";
    }
  }

  td:nth-child(1) {
    width: 50%;
    text-align: right;
  }

  td:nth-child(2) {
    width: 50%;
    text-align: left;
  }

  td:nth-child(3) {
    text-align: left;
    margin-right: $padding;
    font-weight: 700;
  }

  td:nth-child(4) {
    text-align: right;
    margin-left: auto;
  }
}

.schedule__link {
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 30px;
  }
}

.schedule__signup {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}