html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $mobile-width;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $green;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 50px;
  }
}
