@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin padding($n, $m) {
  padding-top: $n * $padding;
  padding-bottom: $m * $padding;
}

@mixin m-b($n) {
  margin-bottom: $n * $padding;
}