.form {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__fieldset {
  width: 100%;
  border: none;
  margin: 0;
  margin-bottom: $padding;
  padding: 0;

  legend {
    display: none;
  }
}

.form__list {
  @include list-reset;
  width: 100%;
}

.form__label {
  width: 100%;
  padding: $padding / 2;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $padding;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  padding: $padding / 2;
  width: 100%;
}

.form__comment {
  width: 100%;
  padding: $padding / 2;
  resize: vertical;
}
