.site-menu {
  @include list-reset;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.site-menu__item {
  @media (max-width: $mobile-width-only) {
    width: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.site-menu__link {
  display: block;
  text-transform: uppercase;
  color: $green;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: ($padding / 2) 0;
  text-align: center;

  &[href]:hover,
  &[href]:focus {
    color: darken($green, 15%);

    + .site-menu__secondary {
      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }
  
}

.site-menu__secondary {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
  
  @media (min-width: $tablet-width) {
    display: none;
  }
}