.site-menu {
  @include list-reset;
  background-color: rgba(black, 0.95);

  @media (min-width: $tablet-width) {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.site-menu__link {
  display: block;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 0;
  text-align: center;

  &:hover,
  &:focus {
    color: $yellow;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 0;
    display: inline-block;
  }
  
}