.contacts {
  background-color: white;
  border-radius: $padding;
  padding: $padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2 * $padding;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 2 * $padding;
  padding: 0;
  width: 100%;
  text-align: center;

  @media (max-width: $tablet-width-only) {
    font-size: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: $padding;
  }
}

.contacts__address {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $padding;
  color: $green;
  font-weight: 700;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  .nowrap {
    white-space: nowrap;
  }
}

.contacts__email {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $padding;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  a {
    color: $green;
    font-weight: 700;
    transition: all, 0.5s;

    &:hover,
    &:focus {
      color: darken($green, 10%);
      text-decoration: none;
    }
  }
}

.contacts__phone {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2 * $padding;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  a {
    color: $green;
    font-weight: 700;
    transition: all, 0.5s;

    &:hover,
    &:focus {
      color: darken($green, 10%);
      text-decoration: none;
    }
  }
}

.contacts__icon {
  margin-bottom: $padding / 2;
  color: $green;

  @media (min-width: $desktop-width) {
    margin-bottom: $padding;
  }
}
