.form__fieldset {
  border: none;
  padding: 0;
  
  legend {
    display: none;
  }
}

.form__list {
  @include list-reset;
  @include row-flex;
}

.form__label {
}

.form__item {
  @include col;
  @include size(24);
}

.form__input {
  font: inherit;
  font-size: 14px;
  line-height: 40px;
  padding: $padding / 2;
  color: $green;
  height: 40px;

  &::placeholder {
    font: inherit;
    font-size: 14px;
    line-height: 40px;
    color: $green;
  }
}

.form__comment {
  resize: vertical;
  padding: $padding;
  width: 100%;
}

