.logo a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo__crane {
  @media (max-width: $mobile-width-only) {
    min-width: 57px;
    margin: $padding;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.logo__text {
  @media (max-width: $mobile-width-only) {
    min-width: 239px;
    margin: $padding;

    img {
      width: 100%;
      height: auto;
    }
  }
}