.map {
  background-image: url('../img/bg-map-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 420px 300px;
}

.map__iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 310px;
  overflow: hidden;

  iframe {
    width: 100%;
    min-height: 310px;
    margin: 0;
    padding: 0;
    border: none;
  
    @media (min-width: $desktop-width) {
      min-height: 350px;
    } 
  }
}