.secondary {
  @include list-reset;
  background-color: $green;
}

.secondary__link {
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  padding: ($padding / 5) ($padding / 2);
  transition: all 0.5s;

  &[href]:hover,
  &[href]:focus {
    color: white;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
  }

  &--current {
    color: black;

    @media (min-width: $tablet-width) {
      color: white;
    }
  }
}