.signup {
  background-color: lighten($green, 40%);
  overflow-y: scroll;

  @media (min-width: $desktop-width) {
    overflow-y: auto;
    height: 100vh;
  }
}

.signup__wrapper {
  @include wrapper;
}

.signup__close {
  background-color: transparent;
  border: none;
  position: fixed;
  top: $padding / 2;
  right: $padding;
  color: $green;
  cursor: pointer;

  &:hover,
  &:focus {
    color: darken($green, 30%);
  }
}

.signup__close-icon {
  width: 40px;
  height: 40px;
}

.signup__intro {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
  
  a {
    color: $green;
    text-decoration: none;
    font-weight: 700;

    &:hover,
    &:focus {
      color: darken($green, 20%);
    }
  }
}
