$white: #ffffff;

$pink: #d22856;

$yellow: #fed136;

$padding: 20px;

$mobile-width: 320px;
$tablet-width: 660px;
$mobile-width-only: $tablet-width - 1;
$desktop-width: 960px;
$tablet-width-only: $desktop-width - 1;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
