$white: #ffffff;

/*$green: #00ff00;*/
$green: lighten(#3b7a36, 10%);

$padding: 20px;

$mobile-width: 320px;
$tablet-width: 660px;
$mobile-width-only: $tablet-width - 1;
$desktop-width: 1020px;
$tablet-width-only: $desktop-width - 1;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
