.about {
  background-color: white;
  @include padding(2, 2);
}

.about__wrapper {
  @include wrapper;
  text-align: center;
}

.about__intro {
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: $padding;
    text-align: justify;
    padding-left: $padding;
    padding-right: $padding;
    font-size: 18px;
    line-height: 24px;
  }
}

.about__list {
  @include list-reset;
  @include row-flex;
  justify-content: center;
  margin-bottom: 2 * $padding;

  @media (min-width: $desktop-width) {
    align-items: stretch;
  }
}

.about__item {
  @include col;
  @include size(22);
  @include size-tablet(20);
  @include size-desktop(8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $green;
  margin-bottom: 2 * $padding;

  @media (min-width: $tablet-width) {
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: $padding;
    padding-right: $padding;
    margin-bottom: $padding;
    flex-direction: column;
    justify-content: flex-start;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-bottom: $padding;

    @media (min-width: $tablet-width) {
      width: auto;
      margin-left: $padding;
      margin-bottom: $padding / 2;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin-left: 0;
      margin-bottom: $padding;
    }
  }
}

.about__icon {
  order: -1;
  width: 50px;
  height: 50px;
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    margin-bottom: $padding / 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: $padding;
  }
}

.about__description {
  margin: 0;
  padding: 0;
  @include tablet-block{
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
  };

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }

  span {
    white-space: nowrap;
  }
}


