.coaches {
  @include padding(2, 1);
}

.coaches__wrapper {
  @include wrapper;
  /*outline: 1px solid red;*/
  display: flex;
  flex-direction: column;
}

.coaches__title {
  margin: 0;
  padding: 0;
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    margin-bottom: 2 * $padding;
  }
}

.coaches__list {
  @include list-reset;
  @include row-flex;
  justify-content: center;
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.coaches__item {
  background-color: lighten($green, 30%);
  border-radius: $padding;
  @include padding(1, 1);
  @include col;
  @include size(22);
  @include size-tablet(11.5);
  @include size-desktop(5.5);
  @include desktop-block{
    display: flex;
  };
  &:nth-child(n+2) {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 2 * $padding;
  }

  &:nth-child(n+7) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      display: none;
    }
  }

  &:nth-child(2n) {
    .coaches__relation {
      @include desktop-block{
        order: 0;
        margin-bottom: 0;
        margin-top: auto;
      };
    }
    .coaches__name {
      @include desktop-block{
        margin-top: 0;
      };
    }
  }
}

.coaches__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;

  &:hover,
  &:focus,
  &:active {
    color: darken($green, 25%);

    .coaches__type {
      color: darken($green, 5%);
    }

    .coaches__image {
      opacity: 1;
    }
  }
}

.coaches__name {
  margin: 0;
  margin-top: auto;
  padding: 0;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.coaches__type {
  display: block;
  margin-top: $padding;
  color: #555555;
  line-height: 1.3;
}

.coaches__relation {
  order: -1;
  width: 75%;
  align-self: center;
  margin-bottom: $padding;

  .relation__offset {
    padding-top: 100%;
  }
}

.coaches__image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  opacity: 0.75;
  transition: all 0.5s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.coaches__all {
  align-self: center;
}
