.content__wrapper {
  @include wrapper;
  @include padding(0, 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  @include tablet-block{
    justify-content: space-around;
  };
}

.content__title {
  margin: 0;
  padding: 0;
  margin-bottom: $padding / 2;
}

.content__date {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: right;
  font-size: 20px;
  margin-right: 5%;
  margin-bottom: $padding / 2;
}

.content__person {
  margin: 0;
  padding: 0;
  width: 85%;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: $padding / 2;
  @include tablet-block{
    margin-bottom: $padding;
  };
  
  a {
    text-decoration: none;
    color: $green;
    &:hover {
      text-decoration: underline;
      color: darken($green, 20%);
    }
  }
}

.content__type {
  margin: 0;
  padding: 0;
  width: 85%;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: $padding / 2;
  @include tablet-block{
    margin-bottom: $padding;
  };
  
  a {
    text-decoration: none;
    color: $green;
    &:hover {
      text-decoration: underline;
      color: darken($green, 20%);
    }
  }
}

.content__intro {
  margin: 0;
  margin-bottom: $padding / 2;
  padding: 0;
  width: 90%;
  text-indent: 5%;
  text-align: justify;
}

.content__picture {
  margin: 0;
  padding: 0;
  margin-bottom: $padding / 2;
  width: 90%;
  @include tablet-block{
    width: 45%;
  };
  @include desktop-block{
    width: 37.5%;
  };

  img {
    width: 100%;
  }
}

.content__main {
  width: 95%;
  @include tablet-block{
    width: 50%;
  };
  @include desktop-block{
    width: 57%;
  };
  margin-bottom: $padding;
  p {
    margin: 0;
    padding: 0;
    text-indent: 10%;
    text-align: justify;
    margin-bottom: $padding / 4;
    @include tablet-block{
      text-indent: 7%;
    };
    @include desktop-block{
      text-indent: 5%;
    };
  }
  
}

.content__button {
  display: block;
  margin: 0 auto;
}