.gallery {
  @include padding(0, 3);

  &--coaches {
    .relation__offset {
      padding-top: 100%;
    }
    .gallery__image {
      border-radius: 50%;
    }
    .gallery__item {
      h3 {
        align-self: center;
        text-align: center;
        margin-bottom: $padding / 4;
        padding-left: 0;
        margin-right: 0;
      }
    }
  }

  &--types {
    .gallery__item {
      h3 {
        align-self: center;
        text-align: center;
        margin-bottom: 0;
        padding-left: 0;
        margin-right: 0;
      }
    }
    .gallery__list {
      margin-bottom: 0;
    }
  }
}

.gallery__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    margin-bottom: 2 * $padding;
  }
}

.gallery__list {
  @include list-reset;
  @include row-flex;
  margin-bottom: $padding;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
  }
}

.gallery__item {
  position: relative;
  background-color: lighten($green, 45%);
  @include padding(1, 1);
  @include col;
  @include size(22);
  @include size-tablet(11);
  @include size-desktop(7.5);
  border-radius: 3 * $padding;
  @include tablet(border-radius, $padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m-b(1.5);

  &:last-child {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 0;
    }
  }
  
  h3 {
    margin: 0;
    padding: 0;
    padding-left: $padding;
    color: $green;
    margin-right: $padding;
    align-self: flex-start;
  }
}

.gallery__date {
  margin: 0;
  padding: 0;
  padding-right: $padding;
  margin-left: auto;
}

.gallery__type {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  margin-bottom: $padding;
}

.gallery__text {
  margin: 0;
  margin-top: $padding / 2;
  margin-bottom: $padding / 2;
  padding: 0;
  padding: $padding;
  font-size: 16px;
  @include tablet(font-size, 18px);
}

.gallery__relation {
  width: 70%;
  @include tablet(width, 80%);
  order: -1;
  margin-bottom: $padding / 2;
  @include tablet(margin-bottom, $padding);
}

.gallery__image {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  border-radius: 2 * $padding;
  @include tablet(border-radius, $padding);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery__link {
  margin-top: auto;
}


