.page-footer {
  background-color: rgba($green, 0.3);
  @include padding(1, 0);
  @include desktop-block {
    @include padding(2, 2);
  };
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__row {
  @include row-flex;
  justify-content: center;
  @include tablet-block {
    justify-content: space-between;
  };
  @include desktop-block {
    justify-content: space-between;
    align-items: center;
  };
}

.page-footer__recall {
  outline: 1px solid red;
  @include col;
  @include size(22);
  @include size-tablet(11);
  @include size-desktop(11);
  margin-bottom: $padding;
  @include desktop-block {
    margin-bottom: 0;
  };
  /*@include tablet-block {
    margin-right: 3%;
    max-width: 400px;
  };
  @include desktop-block {
    margin-right: 0;
  };*/
}

.page-footer__contacts {
  outline: 1px solid red;
  @include col;
  @include size(22);
  @include size-tablet(11);
  @include size-desktop(24);
  margin-bottom: $padding;
  @include tablet-block {
    margin-bottom: 2 * $padding;
  };
  @include desktop-block {
    order: -1;
  };
}

.page-footer__map {
  outline: 1px solid red;
  @include col;
  @include size(22);
  @include size-tablet(24);
  @include size-desktop(12);
  border-top-left-radius: $padding;
  border-top-right-radius: $padding;
  overflow: hidden;
  @include tablet-block {
    margin-top: $padding;
  };
  @include desktop-block {
    border-radius: $padding;
    margin-top: 0;
  };
}