.page-footer {
  background-color: rgba($green, 0.3);
}

.page-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.page-footer__recall {
  @media (min-width: $tablet-width) {
    width: ($tablet-width - 4 * $padding) / 2;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
  }
}

.page-footer__contacts {
  @media (min-width: $tablet-width) {
    width: ($tablet-width - 4 * $padding) / 2;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    width: 100%;
    order: -1;
  }
}

.page-footer__map {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: $padding;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    margin-top: 0;
  }
}