.prices {
  @include padding(0, 1);
  @include desktop-block{
    @include padding(2, 3);
  };
}

.prices__wrapper {
  @include wrapper;
}

.prices__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: $padding;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 2 * $padding;
  }

  time {
    white-space: nowrap;
  }
}

.prices__list {
  @include row-flex;
  justify-content: center;
}

.prices__table {
  background-color: lighten($green, 50%);
  @include col;
  @include size(24);
  border-collapse: collapse;
  margin-bottom: $padding;

  caption {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    @include padding(0.5, 0.5);
  }

  &--common {
    .prices__head {
      background-color: $green;
      th:nth-child(1) {
        display: none;
        @include desktop-block{
          display: block;
          @include col;
          @include size-desktop(8);
        };
      }
      th:nth-child(n+2) {
        @include col;
        @include size(6);
        @include size-desktop(4);
      }
    }
    .prices__item {
      td:nth-child(1) {
        @include col;
        @include size(24);
        @include size-desktop(8);
        text-align: center;
        margin-bottom: $padding / 4;
        @include desktop-block{
          text-align: left;
          margin-bottom: 0;
        };
      }

      td:nth-child(n+2) {
        @include col;
        @include size(6);
        @include size-desktop(4);
        text-align: center;
      }
      &:nth-child(2n-1) {
        background-color: $green;
      }
    }
  }

  &--unlim {
    .prices__head {
      background-color: $green;
      
      th {
        @include col;
        @include size(6);
      }
    }
    .prices__item {
      td {
        @include col;
        @include size(6);
        text-align: center;
      }
    }
    @include size-desktop(16);
  }
  
  &--massages {
    .prices__head {
      background-color: $green;
      th:nth-child(1) {
        display: none;
        @include desktop-block{
          display: block;
          @include col;
          @include size-desktop(9);
          text-align: left;
        };
      }
      th:nth-child(2) {
        @include col;
        @include size(4);
        @include size-desktop(3);
      }
      th:nth-child(n+3) {
        @include col;
        @include size(5);
        @include size-desktop(3);
      }
    }
    .prices__item {
      td:nth-child(1) {
        @include col;
        @include size(24);
        @include size-desktop(9);
        text-align: center;
        margin-bottom: $padding / 4;
        @include desktop-block{
          text-align: left;
          margin-bottom: 0;
        };
      }
      td:nth-child(2) {
        @include col;
        @include size(4);
        @include size-desktop(3);
        text-align: center;
      }
      td:nth-child(n+3) {
        @include col;
        @include size(5);
        @include size-desktop(3);
        text-align: center;
      }
      &:nth-child(2n-1) {
        background-color: $green;
      }
    }
  }

  &--others {
    .prices__head {
      background-color: $green;
      th:nth-child(1) {
        display: none;
        @include desktop-block{
          display: block;
          @include col;
          @include size-desktop(9);
          text-align: left;
        };
      }
      th:nth-child(2) {
        @include col;
        @include size(4);
        @include size-desktop(3);
      }
      th:nth-child(n+3) {
        @include col;
        @include size(5);
        @include size-desktop(3);
      }
    }
    .prices__item {
      td:nth-child(1) {
        @include col;
        @include size(24);
        @include size-desktop(9);
        text-align: center;
        margin-bottom: $padding / 4;
        @include desktop-block{
          text-align: left;
          margin-bottom: 0;
        };
      }
      td:nth-child(2) {
        @include col;
        @include size(4);
        @include size-desktop(3);
        text-align: center;
      }
      td:nth-child(n+3) {
        @include col;
        @include size(5);
        @include size-desktop(3);
        text-align: center;
      }
      &:nth-child(2n-1) {
        background-color: $green;
      }
    }
  }
}

.prices__head {
  @include row-flex;
  align-items: center;
  border: 1px solid $green;
  border-bottom: none;
  @include padding(0.5, 0.5);
}

.prices__item {
  @include row-flex;
  align-items: center;
  border: 1px solid $green;
  border-bottom: none;
  @include padding(0.5, 0.5);

  &:last-child {
    border-bottom: 1px solid $green;
  }
}
