.schedule {
  background-color: rgba($green, 0.3);

  &--nojs {
    .schedule__day {
      position: static;
    }
  }
}

.schedule__wrapper {
  @include wrapper;
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.schedule__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: $padding;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 2 * $padding;
  }

  time {
    white-space: nowrap;
  }
}

.schedule__days-list {
  @include list-reset;
  display: flex;
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    margin-top: -$padding;
    margin-left: auto;
    margin-right: auto;
  }
}

.schedule__days-item {
  margin: $padding / 4;

  @media (min-width: $tablet-width) {
    margin: $padding / 2;
  }

  &:nth-child(1) {
    .schedule__days-button {
      &::before {
        content: "пн";

        @media (min-width: $desktop-width) {
          content: "понедельник";
        }
      }
    }
  }

  &:nth-child(2) {
    .schedule__days-button {
      &::before {
        content: "вт";

        @media (min-width: $desktop-width) {
          content: "вторник";
        }
      }
    }
  }

  &:nth-child(3) {
    .schedule__days-button {
      &::before {
        content: "ср";

        @media (min-width: $desktop-width) {
          content: "среда";
        }
      }
    }
  }

  &:nth-child(4) {
    .schedule__days-button {
      &::before {
        content: "чт";

        @media (min-width: $desktop-width) {
          content: "четверг";
        }
      }
    }
  }

  &:nth-child(5) {
    .schedule__days-button {
      &::before {
        content: "пт";

        @media (min-width: $desktop-width) {
          content: "пятница";
        }
      }
    }
  }

  &:nth-child(6) {
    .schedule__days-button {
      &::before {
        content: "сб";

        @media (min-width: $desktop-width) {
          content: "суббота";
        }
      }
    }
  }

  &:nth-child(7) {
    .schedule__days-button {
      &::before {
        content: "вс";

        @media (min-width: $desktop-width) {
          content: "воскресенье";
        }
      }
    }
  }
}

.schedule__days-button {
  border: 2px solid $green;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
    padding: $padding / 4;
  }

  @media (min-width: $tablet-width) {
    padding: $padding / 2;
  }

  &::before {
    text-transform: uppercase;
    color: $green;
  }

  &:hover,
  &:focus {
    background-color: $green;

    &::before {
      color: white;
    }
  }

  &--current {
    pointer-events: none;
    background-color: $green;

    &::before {
      color: white;
    }
  }
}

.schedule__day {
  display: none;

  &--show {
    display: block;
    @include row-flex;

    @media (min-width: $tablet-width) {
      @include row-flex;
      justify-content: space-between;
    }
  }

  h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: $padding;
    @include col;
    @include size(24);
    outline: 1px solid red;
  }
}

.schedule__table {
  @include col;
  @include size(24);
  @include size-tablet(12);
  border-collapse: collapse;
  margin-bottom: $padding;
  background-color: $green;

  caption {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: $padding / 2;
  }
}

.schedule__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid darken($green, 35%);
  font-size: 16px;
  line-height: 20px;
  padding: $padding / 2;
  color: black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  &:nth-child(2n) {
    background-color: white;
    border-top: none;
    border-bottom: none;
  }

  &:last-child {
    border-bottom: 1px solid darken($green, 35%);
  }
  
  td {
    padding: $padding / 4;
  }

  td:nth-child(1) {
    &::before {
      content: "С ";
    }
  }

  td:nth-child(2) {
    &::before {
      content: "до ";
    }
  }

  td:nth-child(1) {
    width: 50%;
    text-align: right;
  }

  td:nth-child(2) {
    width: 50%;
    text-align: left;
  }

  td:nth-child(3) {
    text-align: left;
    margin-right: $padding;
    font-weight: 700;
  }

  td:nth-child(4) {
    text-align: right;
    margin-left: auto;
  }
}

.schedule__link {
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 30px;
  }
}

.schedule__signup {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--index {
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-right: 0;
      
    }
  }
}