.types {
  background-color: rgba($green, 0.3);
  @include padding(1, 1);
}

.types__wrapper {
  @include wrapper;
  /*outline: 1px solid red;*/
  display: flex;
  flex-direction: column;
}

.types__title {
  margin: 0;
  padding: 0;
  margin-bottom: $padding;

  @media (min-width: $tablet-width) {
    margin-bottom: 2 * $padding;
  }
}

.types__list {
  @include list-reset;
  @include row-flex;
  justify-content: center;
  margin-bottom: $padding;
  @media (max-width: $mobile-width-only) {
    height: 90vh;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.types__item {
  @include padding(1, 1);
  background-color: white;
  border-radius: $padding;
  @include col;
  @include size(22);
  @include size-tablet(11.5);
  @include size-desktop(7.5);
  display: flex;
  flex-direction: column;
  @media (max-width: $mobile-width-only) {
    height: 90vh;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: $padding;
  }

  &:nth-child(n + 3) {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      display: none;
    }
  }
}

.types__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    .types__name {
      color: darken($green, 30%);
    }
    .types__image {
      opacity: 1;
    }
  }
}

.types__details {
  align-self: center;
  margin-top: auto;

  @include tablet(display, none);
}

.types__name {
  align-self: center;
  margin: 0;
  margin-bottom: $padding / 2;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: $padding;
  color: $green;
  transition: all 0.5s;
}

.types__description {
  margin: 0;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.types__relation {
  order: -1;
  width: 80%;
  max-width: 400px;
  align-self: center;
  margin-bottom: $padding / 2;
}

.types__image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border-radius: 2 * $padding;
  transition: all 0.5s;
  opacity: 0.75;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.types__all {
  align-self: center;
}

